@model Parcial1.Models.Equipo

@{
    ViewData["Title"] = "Agregar equipo";
}

<div class="page">

    <div class="card-box">

        <div class="header">
            <div>
                <h3>Agregar equipo</h3>
                <p class="text-muted mb-0">Registro de nuevo equipo en el torneo</p>
            </div>

            <a href="/Torneo/Detalle/@Model.TorneoId"
               class="btn btn-secondary btn-sm">
                Volver
            </a>
        </div>

        <form action="/Equipo/Crear" method="post">

            @Html.AntiForgeryToken()
            <input type="hidden" name="TorneoId" value="@Model.TorneoId" />

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input name="Nombre"
                       class="form-control"
                       placeholder="Nombre de equipo"
                       required />
            </div>

            <div class="mb-3">
                <label class="form-label">Ciudad</label>
                <input name="Ciudad"
                       class="form-control"
                       placeholder="Nombre de cuidad"
                       required />
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Guardar equipo
            </button>

        </form>

    </div>

</div>